body{
    font-family: "Nunito Sans", sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

h1, h2{
    font-family: "Raleway", sans-serif;
}

.back-button{
    border: none;
    padding: 10px;
    border-radius: 25%;
    cursor: pointer;
}

.admin-dash{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.buttons > button{
    padding: 30px;
    border: none;
    background-color: black;
    color: white;
    font-size: 20px;
    margin: 20px;
}