body{
    font-family: "Nunito Sans", sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

h1, h2{
    font-family: "Raleway", sans-serif;
}

.back-button{
    border: none;
    padding: 10px;
    border-radius: 25%;
    cursor: pointer;
}