.bookings-page{
    display: flex;
    flex-direction: column;
}

.go-back{
    margin: 10px;
}

#booking-heading{
  text-align: center;
  padding: 0.5vmax;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  transition: all 0.5s;
  background-color: rgb(44, 44, 44);
}