.tab1Button{
    margin-top: 8px;
    height: 45px;
    width: 32%;
    padding: 5px;
    background-color: white;
    margin-right: 5px;
}

.tab1Button:hover{
    background-color: black;
    color: #fff;
}

.selectInput{
    margin-top:15px;
    width: 70%;
}
.home-img2 >img{
    height: 500px

}

.home-booking-form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home-booking-form1{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 60vh;
}

.main-form{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.tabs{
    width: 100%;
}

.map{
    width: 60%;
}

    