.updatePasswordContainer{
    display: flex;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.updatePasswordBox{
    width: 25vw;
    height: 70vh;
    overflow: hidden;
}

.updatePasswordBox > div > button{
    background-color: #000;
    height: 2px;
    width: 50%;
    border: none;
    transition: all 0.5s;
}

.updatePasswordForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 70%;
    transition: all 0.5s
}

.updatePasswordForm > div{
    display: flex;
    width: 100%;
    align-items: center;
}

.updatePasswordForm > div > input{
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1 px solid rgba(0,0,0, 0.267);
    border-radius: 4px;
    outline: none;
}

.updatePasswordForm > div > svg{
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: #565656;
}

.updatePasswordBtn{
    border: none;
    background-color: #000;
    color: white;
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px #565656;
}

.updatePasswordBtn:hover{
    background-color: #2f2f2f;
}


@media screen and (max-width: 600px) {
    .updatePasswordBox{
        width: 100vw;
        height: 95vh;
    }
    .updatePasswordForm{
        padding: 5vmax;
    }

    .updatePasswordBtn > div > input{
        padding: 2.5vmax 5vmax;  
    }

    .updatePasswordForm > div > svg{
        font-size: 2.8vmax;
    }
    #updateImage > img{
        width: 8vmax;
        border-radius: 100%;
    }
    #updateImage > input::file-selector-button{
        height: 7vh;
    }
    .updatePasswordBtn{
        padding: 1.8vmax;
    }
}